.intro{
    height: 100vh;
    background: url("https://png.pngtree.com/thumb_back/fw800/background/20231230/pngtree-wooden-texture-login-form-enhancing-aesthetic-appeal-image_13918200.png");
    background-size: cover;
    
}

